<div class="contair w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class= "text-monospace text-center">Sejam bem vindesao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class = "text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum repellat earum, voluptas nam consectetur porro eligendi error deserunt cum consequuntur! Dolore natus, voluptas aliquid iste ducimus vitae atque facere optio.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum omnis, doloremque dolores voluptates corporis itaque odio, magni eum quis iure repellat ut excepturi facilis amet? Perspiciatis doloremque molestias sapiente obcaecati.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non expedita fuga nisi illo laudantium, deleniti rem sed qui aut possimus rerum. Impedit repudiandae obcaecati saepe magni sed velit rerum sunt.
            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5 w-100">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class = "btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>


